<!--pt-5:画面サイズ全て、上側のパディングを3rem-->
<div class="container pt-5">
  <div class="row pt-5">
    <div class="col-md-3">
      <h2>会員</h2>
        <table class="table">
          <tbody>
            <tr>
              <td>ユーザーネーム</td>
              <td><%= @customer.user_name %></td>
            </tr>
            <tr>
              <td>自己紹介</td>
              <td><%= @customer.self_introduction %></td>
            </tr>
          </tbody>
        </table>
        <% if @customer == current_customer %>
          <div class="row">
            <%= link_to edit_customer_path(@customer.id), class:"btn btn-outline-secondary btn-block" do%>
              <i class="fas fa-user-cog" aria-hidden="true">編集</i>
            <% end %>
          </div>
          <div class="row pt-5">
            <%= link_to favorites_customer_path(@customer.id), class:"btn btn-outline-danger btn-block" do%>
              <i class="fa-solid fa-heart" aria-hidden="true">いいね一覧を見る</i>
     　　  　  <% end %>
   　　  　  </div>
   　　  　  <div class="row">
            <%= link_to comments_customer_path(@customer.id), class:"btn btn-outline-warning btn-block" do%>
              <i class="fa-solid fa-comment-dots">コメントした投稿一覧を見る</i>
     　　  　  <% end %>
   　　  　  </div>
   　　　  <% end %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>投稿一覧</h2>
        <table class="table">
          <thead>
            <tr>
              <td>画像</td>
              <td>タイトル</td>
              <td>タグ</td>
              <td colspan="3"></td>
            </tr>
          </thead>
          <% @posts.each do |post| %>
          <tbody>
            <tr>
              <td><%= link_to image_tag(post.get_image, width: '100', height: '100'), post_path(post) %> </td>
      　　  　　  <td><%= link_to post.title, post_path(post.id), class: "link text-secondary" %></td>
          　   <% post.tags.each do |tag| %>
          　  　  <td>
          　  　    <i class="fa-sharp fa-solid fa-tag"></i>
                  <%= link_to tag.name, posts_path(tag_id: tag.id), class: "link text-secondary" %>
　              </td>
　            <% end %>
            </tr>
          </tbody>
          <% end %>
        </table>
        <%= paginate @posts %>
        <% if @customer == current_customer %>
          <h2>投稿へのコメント一覧</h2>
            <table class="table">
              <tbody>
              <% @comment_posts.each do |post| %>
                <% if post.post_items.map{|item| item.comments.count}.sum > 0 %>
                  <tr>
                    <td><%= link_to post.customer.user_name, customer_path(post.customer), class: "link text-secondary" %></td>
                    <td></td>
                    <td></td>
                    <td><%= link_to post.title, post_path(post), class: "link text-secondary" %></td>
                    <% post.post_items.each do |post_item| %>
                      <% if post_item.comments.count > 0 %>
                      <tr>
                        <td><%= link_to image_tag(post_item.get_image, size: "100x100"), post_path(post) %></td>
                        <td><%= post_item.place %></td>
                        <td><%= post_item.explanatory_text %></td>
                        <td>
                        <div>
                          <p>コメント件数：<%= post_item.comments.count %></p>
                            <% post_item.comments.each do |comment| %>
                              <p><%#= image_tag comment.customer.get_profile_image(100,100) %></p>
                              <%= link_to comment.customer.user_name, customer_path(comment.customer), class: "link text-secondary" %>
                              <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.content %>
                            <% end %>
                        </div>
                      </tr>
                      <% end %>
                    <% end %>
                  </tr>
                <% end %>
              <% end %>
              </tbody>
            </table>
            <%= paginate @comment_posts %>
        <% end %>
    </div>
  </div>
</div>