<% if signed_in? %>
  <h2>投稿一覧(全<%= post_count.count %>件)
  <%= link_to "新規投稿", new_post_path, class:"btn btn-outline-primary" %></h2>
<% else %>
  <h2>投稿一覧(全<%= post_count.count %>件)</h2>
<% end %>
<div class="row m-2">
  <% posts.each do |post| %>
    <div class="col-6 col-md-4">
      <% if signed_in? %>
        <div class="image-container"><%= link_to image_tag(post.get_image, size: "150x150" ), post_path(post) %></div>
          <p>
            <%= link_to post.title, post_path(post), class: "link text-secondary" %>
            <%= link_to post.customer.user_name, customer_path(post.customer), class: "link text-secondary" %><br>
            <% post.tags.each do |tag| %>
              <i class="fa-sharp fa-solid fa-tag"></i>
                <%= link_to tag.name, posts_path(tag_id: tag.id), class: "link text-secondary" %>
            <% end %>
          </p>
      <% else %>
        <div><%= image_tag post.get_image, class: "img-fluid" %></div>
        <p><%= post.title %> <%= post.customer.user_name %></p>
      <% end %>
    </div>
  <% end %>
</div>