<div class="container pt-5">
  <% if @post.errors.any? %>
    <!--<%# @post.errors.count %>件の-->
    エラーが発生しました
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= form_with model: @post, url: posts_path , method: :post, local: true do |f| %>
  <div class="row pt-5">
    <div class="col-sm-9 offset-sm-1 col-md-9 offset-md-1 col-lg-8 offset-lg-2">
      <div class="px-sm-0 mb-4">
        <h2>新規投稿</h2>
      </div>
        <div class="form-group row">
          <%= f.label "都道府県", class: "col-md-4" %>
          <div class="col-md-8">
            <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box ", id:"item-prefecture"}) %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label "タイトル", class: "col-md-4" %>
          <div class="col-md-8">
            <%= f.text_field :title, class: "form-control", placeholder: "タイトル" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label "メイン画像", class: "col-md-4" %>
          <div class="col-md-8">
            <%= f.file_field :image, accept: "image/*"%>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label "日付", class: "col-md-4" %>
          <div class="col-md-8">
            <%= f.date_field :start_date %>〜<%= f.date_field :end_date %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label "タグ", class: "col-md-4" %>
          <div class="col-md-8">
            <%= f.text_field :name, class: "form-control",value: @tag_list, placeholder:",で区切ると複数タグ登録できます(一泊二日,京都,グルメ等)", class: "form-control" %>
          </div>
        </div>
    </div>
      <table class="text-center">
        <thead>
          <tr>
            <td class="table-active">日付</td>
            <td class="table-active">時間</td>
            <td class="table-active">画像</td>
            <td class="table-active">場所</td>
            <td class="table-active">説明</td>
            <td class="table-active">次への移動方法</td>
           </tr>
        </thead>
        <!--fields_forで子モデルのフォームをネストする-->
　      <%= f.fields_for :post_items do|post_item| %>
　        <tr>
　          <td><%= post_item.date_field :date %></td>
　          <td> <%= post_item.time_field :time %></td>
　　        <td><%= post_item.file_field :image, accept: "image/*" %></td>
　          <td><%= post_item.text_field :place %></td>
　          <td><%= post_item.text_field :explanatory_text %></td>
　          <td><%= post_item.select :moving_method, [["徒歩", "徒歩"], ["電車", "電車"], ["バス", "バス"], ["自転車", "自転車"], ["バイク", "バイク"], ["車", "車"], ["飛行機", "飛行機"], ["船", "船"]], include_blank: "選択して下さい" %>
　       </tr>
        <% end %>
      </table>
      <td class = "align-center"><%= f.submit "新規登録", class:"btn btn-outline-success mx-auto d-block" %></td>
    <% end %>
  </div>
</div>
