<div class="container pt-5">
  <% if @post.errors.any? %>
    <% @post.errors.count %>件のエラーが発生しました
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="row pt-5">
    <h2>新規投稿</h2>
      <div class="row">
        <div class="col-sm-1" ></div>
          <div class="col-sm-10" >
            <%= form_with model: @post, url: posts_path , method: :post, local: true do |f| %>
            <table>
      　       <tbody>
      　         <tr>
            　     <td>都道府県</td>
              　　  <td><%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"item-prefecture"}) %></td>
              　</tr>
            　   <tr>
          　　      <td>タイトル</td>
          　　      <td><%= f.text_field :title, placeholder: "タイトル" %></td>
          　     </tr>
                <tr>
          　　      <td>メイン画像</td>
          　　      <td><%= f.file_field :image, accept: "image/*" %></td>
          　     </tr>
          　     <tr>
          　　      <td>日付</td>
          　　      <!--何日から何日までこれで良いか確認-->
          　　      <td><%= f.date_field :start_date %>〜<%= f.date_field :end_date %></td>
          　　    </tr>
          　   　<tr>
          　　      <td>タグ(,で区切ると複数タグ登録できます)</td>
          　　      <td><%= f.text_field :name,value: @tag_list, placeholder: "一泊二日,京都,サウナ,酒好き", class: 'form-control' %></td>
          　  　  </tr>
  　　            <table class="table">
                  <thead>
                    <tr>
                      <td class='table-active'>日付</td>
                      <td class='table-active'>時間</td>
                      <td class='table-active'>画像</td>
                      <td class='table-active'>場所</td>
                      <td class='table-active'>説明</td>
                      <td class='table-active'>次への移動方法</td>
                     </tr>
                  </thead>
                  <%# 8.times do %>
        　         <%= f.fields_for :post_items do|f| %> <%# fields_forで子モデルのフォームをネストする %>
        　           <tr>
        　             <td><%= f.date_field :date %></td>
        　             <td> <%= f.time_field :time %></td>
              　　      <td><%= f.file_field :image, accept: "image/*" %></td>
              　     　<td><%= f.text_field :place %></td>
              　     　<td><%= f.text_field :explanatory_text %></td>
              　      <td><%= f.select :moving_method, [["徒歩", "徒歩"], ["電車", "電車"], ["バス", "バス"], ["自転車", "自転車"], ["バイク", "バイク"], ["車", "車"], ["飛行機", "飛行機"], ["船", "船"]], include_blank: "選択して下さい" %>
        　           </tr>
                  <%# end %>
                  <% end %>
                </table>
                <td class = "align-center"><%= f.submit '新規登録', class:"btn btn-outline-success mx-auto d-block" %></td>
              </tbody>
            </table>
            <% end %>
          </div>
          <div class="col-sm-1" ></div>
      </div>
  </div>
</div>