<div class="container pt-5">
  <div>
    <%= flash[:success] %>
  </div>
  <div class="row">
    <div class="col-md-3">
  　　<h2>投稿詳細</h2>
    　　<%= image_tag @post.get_image, width: "100%" %>
        <p><%= link_to @customer.user_name, customer_path(@post.customer_id), class: "link text-secondary" %></p>
        <div class="text-center">
          <div class="bg-light">都道府県</div>
          <div class="pb-2"><%= @prefectures[@post.prefecture_id-2] %></div>
          <div class="bg-light">タイトル</div>
          <div class="pb-2"><%= @post.title %></div>
          <div class="bg-light">日時</div>
          <div class="pb-2"><%= @post.start_date %>〜<%= @post.end_date %></div>
          <div class="bg-light">タグ</div>
          <div class="pb-2">
             <% @post_tags.each do |tag| %>
                <i class="fa-sharp fa-solid fa-tag"></i>
                <%= link_to tag.name, posts_path(tag_id: tag.id), class: "link text-secondary" %>
              <% end %>
          </div>
        </div>
    </div>
    <div class="col-md-9" >
      <div class="p-3">
        <% @post_items.each do |post_item| %>
        <div class="border-bottom">
　　　　　<div class="row">
            <div class="col-md-6 col-sm-12 d-flex">
              <div>
              <%= post_item.date %><br>
              <%= post_item.time.strftime("%R") %><br>
              <%= image_tag post_item.get_image, size: "100x100" %>
            </div>
            <!--<div class="d-flex justify-content-center align-items-center">-->
            <div class="d-flex pt-5 ml-1">
              <div>
                <p class="align-middle h-100"><%= post_item.place %><br>
                  <span style="font-size:12px; color:gray;"><%= post_item.explanatory_text %></span>
                </p>
              </div>
            </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <i class="fa-solid fa-comment-dots"></i>
                <span id="comment_count-<%="#{post_item.id}"%>"><%= post_item.comments.count %></span>
                <div id="post-comments-<%="#{post_item.id}"%>">
                  <%= render "public/comments/commentslist", post_item: post_item, post: @post %>
                </div>
                <div id="comment-form">
                  <%= render "public/comments/form", post_item: post_item, comment: @comment %>
                </div>
              </div>
            <div><%= post_item.moving_method %><br>
            <i class="fa-sharp fa-solid fa-arrow-down"></i><span style="font-size:12px;">次の目的地まで</span></div>
          </div>
        </div>
        <% end %>
      </div>
      <%= paginate @post_items %>
        <!--非ログイン時でも閲覧可能にする-->
        <%# if customer_signed_in? && @post.favorited_by?(current_customer) %>
      <div id="favorite_buttons_<%= @post.id %>" >
        <%= render "public/favorites/favorite", post: @post %>
      </div>
    </div>
  </div>
</div>
<% if @post.customer == current_customer %>
  <div class="text-center"><%= link_to "編集する", edit_post_path(@post), class:"btn btn-outline-success" %></div>
<% end %>