<div class="container pt-5">
  <div>
    <%= flash[:success] %>
  </div>
  <div class="row">
    <div class="col-md-3">
  　　<h2>投稿詳細</h2>
    　　<%= image_tag @post.get_image, size: "250x200" %>
        <p><%= link_to @customer.user_name, customer_path(@post.customer_id), class: "link text-secondary" %></p>
      　<table class="table">
      　   <tr>
      　     <td>都道府県</td>
      　     <td><%= @prefectures[@post.prefecture_id-2] %></td>
        　</tr>
      　   <tr>
      　     <td>タイトル</td>
        　   <td><%= @post.title %></td>
        　</tr>
        　<tr>
        　   <td>日時</td>
        　   <td><%= @post.start_date %>〜<br>
        　   <%= @post.end_date %></td>
        　</tr>
        　<tr>
        　   <td>タグ</td>
          　<td>
          　   <% @post_tags.each do |tag| %>
                <i class="fa-sharp fa-solid fa-tag"></i>
                <%= link_to tag.name, posts_path(tag_id: tag.id), class: "link text-secondary" %>
              <% end %>
            </td>
          </tr>
        </table>
    </div>
        <div class="col-md-9" >
        <table class="table">
          <thead>
            <tr>
              <td>日時</td>
              <td>時間</td>
              <td>画像</td>
              <td>場所</td>
              <td>説明</td>
              <td>次への移動方法</td>
              <td>コメント</td>
            </tr>
          </thead>
          <% @post_items.each do |post_item| %>
            <tr>
              <td> <%= post_item.date %></td>
              <td> <%= post_item.time.strftime("%R") %></td>
              <td><%= image_tag post_item.get_image, size: "100x100" %></td>
              <!--<td>-->
              <!--  <%# if post_item.image.present? %>-->
              <!--    <%#= image_tag post_item.image, size: "100x100" %>-->
              <!--  <%# else %>-->
              <!--    <%#= image_tag "noimage.jpg", size: "100x100" %>-->
              <!--  <%# end %>-->
              <!--</td>-->

              <td><%= post_item.place %></td>
              <td><%= post_item.explanatory_text %></td>
              <td><%= post_item.moving_method %></td>
              <td>
                <i class="fa-solid fa-comment-dots"></i>
                <span id="comment_count-<%="#{post_item.id}"%>"><%= post_item.comments.count %></span>
                <div id="post-comments-<%="#{post_item.id}"%>">
                  <%= render "public/comments/commentslist", post_item: post_item, post: @post %>
                </div>
                <div id="comment-form">
                  <%= render "public/comments/form", post_item: post_item, comment: @comment %>
                </div>
              </td>
            </tr>
          <% end %>
        </table>
        <%= paginate @post_items %>
        <!--非ログイン時でも閲覧可能にする-->
        <%# if customer_signed_in? && @post.favorited_by?(current_customer) %>
        <div id="favorite_buttons_<%= @post.id %>" >
          <%= render "public/favorites/favorite", post: @post %>
        </div>
      </div>
      </div>
  </div>
  </div>
<% if @post.customer == current_customer %>
  <div class="text-center"><%= link_to "編集する", edit_post_path(@post), class:"btn btn-outline-success" %></div>
<% end %>