<div class="row">
  <% if @posts.present? %>
    <h2>「<%= params[:q] if params[:q].present? %>」の投稿（<%= @posts.length %>）</h2>
      <table class="table">
    <thead>
      <tr>
        <th>画像</th>
        <th>タイトル</th>
        <th>タグ</th>
        <th coldpan="3"></th>
      </tr>
    </thead>

    <% @posts.each do |post| %>

    <tbody>
      <tr>
        <td><%= link_to image_tag(post.image, width: '100', height: '100'), post_path(post) %> </td>
　　    <td><%= link_to post.title, post_path(post.id) %></td>
        <td><%= link_to post.tags.map(&:name).join(', '),search_path(tag_id: tag.id) %></td>
      </tr>

    </tbody>
    <% end %>
  </table>
      <!--<div>-->
      <!--  <%#= paginate @posts %>-->
      <!--</div>-->
    <% else %>
      <h2>一致する投稿がありませんでした。</h2>
    <% end %>
  </div>
<!--  <%# if @tags.present? %>-->
<!--    <h2>「<%#= params[:q] if params[:q].present? %>」のタグ（<%#= @tags.length %>）</h2>-->
<!--    <div class="row row-cols-1 row-cols-md-6 g-4">-->
<!--      <%# @tags.each do |tag| %>-->
<!--        <span class="badge rounded-pill text-bg-dark me-2"><%#= tag.name %></span>-->
<!--      <%# end %>-->
<!--    <%# else %>-->
<!--      <h2>一致するタグがありませんでした。</h2>-->
<!--    <%# end %>-->
<!--  </div>-->
<!--</div>-->