<% if signed_in? %>
<%= link_to "新規投稿", new_post_path, class:"btn btn-success" %>
<% end %>
 <div class='container pt-5'>
  <div class='row'>
    <div class='col-lg'>
<h1>投稿一覧(全<%= @posts.count %>件)</h1></br>
<div class "container " >
  <div class="row m-2">

    <% @posts.each do |post| %>
    <div class="col-lg-3" >
    <div class="">
      <% if signed_in? %>
     <div> <%= link_to image_tag(post.image, width: '150', height: '150'), post_path(post) %>  </div>
     <% else %>
     <div> <%= image_tag(post.image, width: '150', height: '150') %>  </div>
     <% end %>
       <tr>
         <td><%= post.title %></td>
         <% if signed_in? %>
         <td><%= link_to post.customer.user_name, customer_path(post.customer) %></td>
         <% else %>
         <%= post.customer.user_name %>
         <% end %>
       </tr>
        <!--　  <%# @post_tags.each do |tag| %>-->
     　　 <!--<td> <i class="fa-sharp fa-solid fa-tag"></i>-->
        <!--<%#= link_to tag.name,search_tag_path(tag_id: tag.id) %></td>-->

         <!--<p><i class="fa-sharp fa-solid fa-tag"></i>-->
         <!--<%#= link_to post.tags.map(&:name).join(', '),search_path(tag_id: tag.id) %></p>-->
         <!--<p>-->
        　<!--  <%# post.tags.each do |tag| %>-->
         <!--   <i class="fa-sharp fa-solid fa-tag"></i>-->
         <!--     <%#= link_to tag.name, posts_path(tag_id: tag.id) %>-->
         <!--  <%# end %>-->
         <!--</p>-->
    </div>
    </div>
    <% end %>
  </div>
</div>
</div>
    </div>
    </div>
<%#= paginate @posts %>
