<div class="container pt-5">
  <div class="row pt-5">
    <div class="col-sm-9 offset-sm-1 col-md-9 offset-md-1 col-lg-8 offset-lg-2">
      <div class="px-sm-0 mb-4">
        <h4><%= @customer.last_name + @customer.first_name %>さんの会員情報編集</h4>
      </div>
      <% if @customer.errors.any? %>
　　　　<%= @customer.errors.count %>件のエラーが発生しました
        <ul>
          <% @customer.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <%= form_with model: @customer, url: admin_customer_path, method: :patch, local: true do |f| %>
        <div class="row">
          <div class="col-md-4">会員ID</div>
          <div class="col-md-8"><%= @customer.id %></div>
        </div>

        <div class="form-group row">
          <%= f.label :user_name, "ユーザーネーム", class: "col-md-4" %>
          <div class="col-md-8">
            <%= f.text_field :user_name, class: "form-control", placeholder: "みちこ" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label "氏名", class: "col-md-4" %>
          <div class="col-md-8">
            <div class="d-flex flex-row">
              <%= f.label "姓:", class: "mx-1", style: "width:12%;" %>
              <div class="">
                <%= f.text_field :last_name, class: "form-control",  placeholder: "令和" %>
              </div>

              <%= f.label "名:", class: "mx-1", style: "width:12%;" %>
              <div class="">
                <%= f.text_field :first_name, class: "form-control", placeholder: "道子" %>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label "フリガナ", class: "col-md-4" %>
          <div class="col-md-8">
            <div class="d-flex flex-row">
              <%= f.label "ｾｲ:", class: "mx-1", style: "width:12%;" %>
              <div class="">
                <%= f.text_field :last_name_kana, class: "form-control",  placeholder: "レイワ" %>
              </div>

              <%= f.label "ﾒｲ:", class: "mx-1", style: "width:12%;" %>
              <div class="">
                <%= f.text_field :first_name_kana, class: "form-control", placeholder: "ミチコ" %>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :email, "メールアドレス", class: "col-md-4" %>
          <div class="col-md-8">
            <%= f.email_field :email, class: "form-control", placeholder: "sample@example.com" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :self_introduction, "自己紹介", class: "col-md-4" %>
          <div class="col-md-8">
            <%= f.text_area :self_introduction, rows: 5, class: "form-control", placeholder: "自己紹介" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label "会員ステータス", class: "col-md-4" %>
          <div class="col-md-8">
            <%= f.select :is_deleted, [['有効', false], ['退会済み', true]], {}, { class: 'form-control' } %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-8 offset-md-4">
            <%= f.submit "変更を保存", class:"btn btn-outline-success w-100" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>