<div class="container pt-5">
  <div class="row pt-5">
    <div class="col-md-3">
      <h3 class="text-center"><%= @customer.last_name + @customer.first_name %>さんの<br>会員詳細</h3>
      <div class="text-center">
        <div class="bg-light">会員ID</div>
        <div class="pb-2"><%= @customer.id %></div>
        <div class="bg-light">ユーザーネーム</div>
        <div class="pb-2"><%= @customer.user_name %></div>
        <div class="bg-light">氏名</div>
        <div class="pb-2"><%= @customer.last_name %> <%= @customer.first_name %></div>
        <div class="bg-light">カナ</div>
        <div class="pb-2"><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></div>
        <div class="bg-light">メールアドレス</div>
        <div class="pb-2"><%= @customer.email %></div>
        <div class="bg-light">自己紹介</div>
        <div class="pb-2"><%= @customer.self_introduction %></div>
        <div class="bg-light">会員ステータス</div>
        <div class="pb-2"><%#= @customer.is_deleted ? 'text-gray' : 'text-green' %><%= @customer.is_deleted ? '退会済み' : '有効' %></div>
      </div>
      <div class="row text-center">
        <%= link_to "編集する", edit_admin_customer_path(@customer.id), class:"btn btn-outline-secondary btn-block" %>
      </div>
    　<div class="row text-center pb-3">
        <%= link_to "コメントした投稿一覧を見る", comments_admin_customer_path(@customer.id), class:"btn btn-outline-warning btn-block" %>
      </div>
    </div>
    <div class="col-md-8 offset-md-1">
      <h3>投稿一覧</h3>
        <div class="row">
          <% if @posts.empty? %>
            <div class="col-md-12 ml-3">
              <p>投稿はありません</p>
            </div>
          <% else %>
            <% @posts.each do |post| %>
              <div class="col-md-6 col-sm-12 border-bottom">
                <%= link_to image_tag(post.get_image, size: "100x100"), admin_post_path(post) %>
                <%= link_to post.title, admin_post_path(post), class: "link text-secondary" %>
              </div>
              <div class="col-md-6 col-sm-12 border-bottom">
                <p class="pt-2">
              　   <% post.tags.each do |tag| %>
                    <i class="fa-sharp fa-solid fa-tag"></i>
                      <%= link_to tag.name, admin_posts_path(tag_id: tag.id), class: "link text-secondary" %>
                  <% end %>
                </p>
              </div>
            <% end %>
          <% end %>
        </div>
        <%= paginate @posts %>
    </div>
  </div>
</div>