<div class="container pt-5">
  <div class="row pt-5">
    <div class="col-md-4">
          <h3><%= @customer.last_name + @customer.first_name %>さんの会員詳細</h3>
         <table class='table'>
           <tbody>
              <tr>
                <td>会員ID</th>
                <td><%= @customer.id %></td>
              </tr>
              <tr>
                <td>ユーザーネーム</td>
                <td><%= @customer.user_name %></td>
              </tr>
              <tr>
                <td>氏名</td>
                <td><%= @customer.last_name %> <%= @customer.first_name %></td>
              </tr>
              <tr>
                <td>カナ</td>
                <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
              </tr>
              <tr>
                <td>メールアドレス</td>
                <td><%= @customer.email %></td>
              </tr>
              <tr>
                <td>自己紹介</td>
                <td><%= @customer.self_introduction %></td>
              </tr>
              <tr>
          <td>会員ステータス</td>
          <td><%#= @customer.is_deleted ? 'text-gray' : 'text-green' %><%= @customer.is_deleted ? '退会済み' : '有効' %></td>
        </tr>
      </tbody>
    </table>
    <div class="row">
     <%= link_to "編集する", edit_admin_customer_path(@customer.id), class:"btn btn-outline-secondary btn-block" %></div>
        </div>
     <div class="col-md-7 offset-md-1">

  <h2>投稿一覧</h2>
  <table class="table">
    <thead>
      <tr>
        <th>画像</th>
        <th>タイトル</th>
        <th>タグ</th>
        <th coldpan="3"></th>
      </tr>
    </thead>

    <% @posts.each do |post| %>

    <tbody>
      <tr>
        <td><%= link_to image_tag(post.image, width: '100', height: '100'), admin_post_path(post) %> </td>
　　    <td><%= link_to post.title, admin_post_path(post), class: "link text-secondary" %></td>
        <td>
        　  <% post.tags.each do |tag| %>
            <i class="fa-sharp fa-solid fa-tag"></i>
              <%= link_to tag.name, admin_posts_path(tag_id: tag.id), class: "link text-secondary" %>
            <% end %>
            </td>
      </tr>

    </tbody>
    <% end %>
  </table>
<!--</div>-->
<!--            <div class="col-md-8 offset-md-1 h-50">-->
                <%#= link_to "投稿一覧を見る", admin_customer_path(@post.customer_id), class:"btn btn-success" %>
                <h2>コメント一覧</h2>
                  <table class="table">
    <thead>
       </thead>
       <!--<tr><%#= link_to "コメント一覧を見る", admin_comments_path(@customer.id), class:"btn btn-outline-warning" %></tr>-->
        <tbody>
           <% @posts.each do |post| %>
        <% if post.post_items.map{|item| item.comments.count}.sum > 0 %>
        <%# if post.comment.present? %>
          <tr>
            <!--<td><%#= image_tag post.image, size: "100x100" %>-->
            <td><%#= link_to customer.user_name, admin_customer_path(post.customer_id) %></td>
            <td><%= link_to post.customer.user_name, admin_customer_path(post.customer), class: "link text-secondary" %></td>
            <td><%= link_to post.title, admin_post_path(post), class: "link text-secondary" %></td>
            <% post.post_items.each do |post_item| %>
            <% if post_item.comments.count > 0 %>
            <tr>
              <!--<td> <%#= post_item.date %></td>-->
              <!--<td> <%#= post_item.time.strftime("%R") %></td>-->
              <td><%= image_tag post_item.image, size: "100x100" %></td>
              <td><%= post_item.place %></td>
              <td><%= post_item.explanatory_text %></td>
              <td>
              <div>
                <p>コメント件数：<%= post_item.comments.count %></p>
                  <% post_item.comments.each do |comment| %>
                    <p><%#= image_tag comment.customer.get_profile_image(100,100) %></p>
                    <%= comment.customer.user_name %>
                    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.content %>
                    <%= link_to "削除", admin_comment_path(comment.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-outline-danger" %>
                  <% end %>
              </div>
            </tr>
            <% end %>
          <% end %>
          </tr>
          <% end %>
        <!--  <%# else %>-->
        <!--  コメントはありません。-->
        <!--<%# end %>-->
         <% end %>
    </tbody>
  </table>
    <!--    </div>-->
    <!--</div>-->
</div>
</div></div>