<div class="container pt-5">
  <div class="row pt-5">
    <h2>投稿一覧(全<%= @posts.count %>件)</h2></br>
  </div>
  <div class="row m-2">
    <% @posts.each do |post| %>
    <div class="col-lg-3" >
      <div class="">
        <div> <%= link_to image_tag(post.image, width: '150', height: '150'), admin_post_path(post) %>  </div>
          <tr>
        　   <td><%= post.title %></td>
        　   <td><%= link_to post.customer.user_name,admin_customer_path(post.customer), class: "link text-secondary"%></td>
        　</tr>
        　<p>
      　<% post.tags.each do |tag| %>
          <i class="fa-sharp fa-solid fa-tag"></i>
            <%= link_to tag.name, admin_posts_path(tag_id: tag.id), class: "link text-secondary" %>
        <% end %>
      </p>

        <!--　<tr>-->
        <!--　  <%# @post_tags.each do |tag| %>-->
     　　 <!--<td> <i class="fa-sharp fa-solid fa-tag"></i>-->
        <!--<%#= link_to tag.name,search_tag_path(tag_id: tag.id) %></td>-->

        <!-- <p><i class="fa-sharp fa-solid fa-tag"></i>-->
        <!-- <%#= link_to post.tags.map(&:name).join(', '),search_tag_path(tag_id: tag.id) %></p>-->

        <!--　</tr>-->
      </div>
    </div>
    <% end %>
  </div>
</div>
<%#= paginate @posts %>
