<div class="container pt-5">
  <div class="row pt-5">
    <h2>投稿一覧(全<%= @post_count.count %>件)</h2></br>
  </div>
  <div class="row m-2">
    <% @posts.each do |post| %>
      <div class="col-6 col-md-3" >
        <div class="">
          <div> <%= link_to image_tag(post.get_mini_image, class: "img-fluid" ), admin_post_path(post) %>  </div>
            <tr>
          　   <td><%= link_to post.title, admin_post_path(post), class: "link text-secondary" %></td>
          　   <td><%= link_to post.customer.user_name,admin_customer_path(post.customer), class: "link text-secondary"%></td>
          　</tr>
          　<p>
            　<% post.tags.each do |tag| %>
                <i class="fa-sharp fa-solid fa-tag"></i>
                  <%= link_to tag.name, admin_posts_path(tag_id: tag.id), class: "link text-secondary" %>
              <% end %>
            </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= paginate @posts %>
