<div class="container pt-5">
  <div class="row pt-5">
    <div class='col-lg'>
  　　<h2>投稿詳細</h2>
  　</div>

  <div class="row m-2">
      <div class="col-lg-3" >
    　　<%#= image_tag @post.image, size: "300x200" %>
    　　<% if @post.image.present? %>
            <%= image_tag @post.image, size: "300x200" %>
          <% else %>
            <%= image_tag "noimage.jpg", size: "300x200" %>
          <% end %>
        <p><%= link_to @customer.user_name, admin_customer_path(@post.customer_id), class: "link text-secondary" %></p>
    　</div>
    　<div class="col-sm" >
      　<table class="table">
      　   <tr>
      　     <td>都道府県</td>
      　     <td><%= @prefectures[@post.prefecture_id-2] %></td>
        　</tr>
      　   <tr>
      　     <td>タイトル</td>
        　   <td><%= @post.title %></td>
        　</tr>
        　<tr>
        　   <td>日付</td>
        　   <td><%= @post.start_date %>〜<%= @post.end_date %></td>
        　</tr>
        　<tr>
        　   <td>タグ</td>
        　   <td>
        　     <% @post_tags.each do |tag| %>
     　　         <i class="fa-sharp fa-solid fa-tag"></i>
                <%= link_to tag.name, admin_posts_path(tag_id: tag.id), class: "link text-secondary" %>
              <% end %>
            </td>
        　</tr>
        </div>
      </div>
      <div class='row'>
        <table class="table">
          <thead>
            <tr>
              <th>日付</th>
              <th>時間</th>
              <th>画像</th>
              <th>場所</th>
              <th>コメント</th>
            </tr>
          </thead>
          <% @post.post_items.each do |post_item| %>
            <tr>
              <td> <%= post_item.date %></td>
              <td> <%= post_item.time.strftime("%R") %></td>
              <!--<td><%#= image_tag post_item.image, size: "100x100" %></td>-->
              <td>
                <% if post_item.image.present? %>
                  <%= image_tag post_item.image, size: "100x100" %>
                <% else %>
                  <%= image_tag "noimage.jpg", size: "100x100" %>
                <% end %>
              </td>
              <td><%= post_item.place %></td>
              <td><%= post_item.explanatory_text %></td>
              <td>
                <i class="fa-solid fa-comment-dots"></i>
                <span id="comment_count-<%="#{post_item.id}"%>"><%= post_item.comments.count %></span>
                <div id="post-comments-<%="#{post_item.id}"%>">
                  <%= render "admin/comments/commentslist", post_item: post_item, key: 'post_item' %>
                </div>
              </td>
            </tr>
          <% end %>
        </table>
        <div>
          <% if @post.favorites.present? %>
            ♥<%= @post.favorites.count %> いいね
          <% else %>
            いいねはありません
          <% end %>
        </div>
      </div>
  </div>
</div>
<div class="text-center"><%= link_to "編集する", edit_admin_post_path(@post), class:"btn btn-outline-success" %></div>