<div class="container">
  <h2>投稿詳細</h2>
    <div class="row">
      <div class="col-sm" >
    　　<%= image_tag @post.image, size: "300x200" %>
        <p><%= link_to @customer.user_name, admin_customer_path(@post.customer_id), class: "link text-secondary" %></p>
    　</div>
    　<div class="col-sm" >
      　<table class="table">
      　   <tr>
      　     <td>タイトル</td>
        　  <td><%= @post.title %></td>
        　</tr>
        　<tr>
        　  <td>日付</td>
        　  <td><%= @post.start_date %>〜<%= @post.end_date %></td>
        　</tr>
        　<tr>
        　  <td>タグ</td>
        　  <% @post_tags.each do |tag| %>
     　　 <td> <i class="fa-sharp fa-solid fa-tag"></i>
        <%= link_to tag.name,search_tag_path(tag_id: tag.id), class: "link text-secondary" %></td>
      <% end %>
        　</tr>
        　<table class="table">
        <thead>
        <tr>
          <th>日付</th>
          <th>時間</th>
          <th>画像</th>
          <th>場所</th>
          <th>コメント</th>
        </tr>
      </thead>
      <% @post.post_items.each do |post_item| %>
       <tr>
        <td> <%= post_item.date %></td>
        <td> <%= post_item.time.strftime("%R") %></td>
        <td><%= image_tag post_item.image, size: "100x100" %></td>
        <td><%= post_item.place %></td>
        <td><%= post_item.explanatory_text %></td>
        <td>
        <div>
          <p>コメント件数：<%= post_item.comments.count %></p>
            <% post_item.comments.each do |comment| %>
              <p><%#= image_tag comment.customer.get_profile_image(100,100) %></p>
              <%= comment.customer.user_name %>
              <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.content %>
              <%#= link_to "削除", admin_comment_path(comment.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-success" %>
            <% end %>
          </div>
        </td>
        </tr>
        </div>
      <% end %>
        </table>
      <% if @post.favorites.present? %>
  ♥<%= @post.favorites.count %> いいね
  <% else %>
    いいねはありません
  <% end %>
      </div>
    </div>
</div>
<div class="text-center"><%= link_to "編集する", edit_admin_post_path(@post), class:"btn btn-outline-success" %></div>


