<div class="container pt-5">
  <div class="row pt-5">
    <div class="col-sm-9 offset-sm-1 col-md-9 offset-md-1 col-lg-8 offset-lg-2">
      <div class="px-sm-0 mb-4">
        <h2>新規会員登録</h2>
      </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

        <div class="form-group row">
          <%= f.label :user_name, "ユーザーネーム", class: "col-md-4" %>
          <div class="col-md-8">
            <%= f.text_field :user_name, class: "form-control", placeholder: "みちこ" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label "氏名", class: "col-md-4" %>
          <div class="col-md-8">
            <div class="d-flex flex-row">
              <%= f.label "姓:", class: "mx-1", style: "width:12%;" %>
              <div class="">
                <%= f.text_field :last_name, class: "form-control",  placeholder: "令和" %>
              </div>

              <%= f.label "名:", class: "mx-1", style: "width:12%;" %>
              <div class="">
                <%= f.text_field :first_name, class: "form-control", placeholder: "道子" %>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label "フリガナ", class: "col-md-4" %>
          <div class="col-md-8">
            <div class="d-flex flex-row">
              <%= f.label "ｾｲ:", class: "mx-1", style: "width:12%;" %>
              <div class="">
                <%= f.text_field :last_name_kana, class: "form-control",  placeholder: "レイワ" %>
              </div>

              <%= f.label "ﾒｲ:", class: "mx-1", style: "width:12%;" %>
              <div class="">
                <%= f.text_field :first_name_kana, class: "form-control", placeholder: "ミチコ" %>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :email, "メールアドレス", class: "col-md-4" %>
          <div class="col-md-8">
            <%= f.email_field :email, class: "form-control", placeholder: "sample@example.com" %>
          </div>
        </div>

        <div class="form-group row">
          <% if @minimum_password_length %>
            <%= f.label "パスワード(#{@minimum_password_length}文字以上)", class: "col-md-4" %>
          <% end %>
          <div class="col-md-8">
            <%= f.password_field :password, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label "パスワード(確認用)", class: "col-md-4" %>
          <div class="col-md-8">
            <%= f.password_field :password_confirmation, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :self_introduction, "自己紹介", class: "col-md-4" %>
          <div class="col-md-8">
            <%= f.text_area :self_introduction, rows: 5, class: "form-control", placeholder: "自己紹介" %>
          </div>
        </div>

        <div class="form-group row">
            <div class="col-md-8 offset-md-4">
              <%= f.submit "新規登録", class:"btn btn-outline-primary w-100" %>
            </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-md-4">
          <h6>すでに登録済みの方</h6>
        </div>
        <div class="col-md-8">
          <%= render "public/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>